<!DOCTYPE html>
<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
	rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.6.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/defaulta.css" />
<!-- 기본 js -->
<script src="/js/default.js"></script>

<div class="header-wrap">
	<header class="header">
		<div>
			<div class="logo">
				<a href="/" th:href="@{/}"> <img th:src="@{/image/title.png}"
					alt="로고">
				</a>
			</div>
			<nav class="nav">
				<ul>
					<li><a href="/party/intro">소개글</a></li>
					<li><a href="/party">파티</a></li>
					<li><a href="/match/view">소개팅</a></li>
					<li><a href="/review/list">후기♥</a></li>
					<li><a href="/question/list?reqPage=1">문의사항</a></li>
				</ul>
			</nav>

			<ul class="user-menu">
				<th:block th:if="${session.member == null}">
					<li><a href="/member/loginFrm">로그인</a></li>
					<li><a href="/member/join-agree">회원가입</a></li>
				</th:block>
				<th:block th:if="${session.member != null && session.member.memberLevel == 3}">
					<li><a href="/member/logout">로그아웃</a></li>
					<li><a href="/member/mypage">마이페이지</a></li>
				</th:block>
				<th:block th:if="${session.member != null && session.member.memberLevel == 1}">
					<li><a href="/member/logout">로그아웃</a></li>
					<li><a href="/member/masterPage">마이페이지</a></li>
				</th:block>
				<th:block th:if="${session.member != null && session.member.memberLevel == 2}">
					<li><a href="/member/logout">로그아웃</a></li>
					<li><a href="/member/masterPage">마이페이지</a></li>
				</th:block>
			</ul>
		</div>

	</header>
</div>




