<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--헤더 css-->
    <link rel="stylesheet" href="css/default.css">
    <!-- jquery -->
    <script src="/js/jquery-3.6.0.js"></script>
</head>
<header class="header">
    <div>
        <div class="logo">
            <a href="/"><img src="image/title.png"></a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="">DateBase는?</a></li>
                <li><a href="">소개팅</a></li>
                <li><a href="">파티</a></li>
                <li><a href="">후기❤</a></li>
                <li><a href="">문의사항</a></li>
            </ul>
        </nav>

        <ul class="user-menu">
            
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            
            
                <li><a href="" th:text="${session.member.memberName}"></a></li>
                <li><a href="">로그아웃</a></li>
        </ul>
    </div>
</header>
</html>