<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

	<h1>dsa</h1>

	<th:block th:include="common/header"></th:block>
	<main>
		<section>
			<div class="content-wrap">
				<div class="content-header">
					<div class="content-name">문의사항</div>
				</div>
				<div class="content-search">
					<input type="text" name="search" id="search" placeholder="Search">
					<span class="material-icons">search</span>
				</div>
			
			</div>
			
			
			
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>

</body>
</html>