<!DOCTYPE html>
<html xmlns:th="http://www.thyeleap.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="joinFrm-all-wrap">
		<div class="joinFrm-header">
			<h1>회원가입</h1>
		</div>
		<form action="/member/join" method="post">
		<div class="joinFrm-content">
			<div class="joinFrm-input">
				<span>아이디</span>
				<input type="text" name="memberId" id="memberId">
			</div>
			<div class="joinFrm-input">
				<span>비밀번호</span>
				<input type="text" name="memberPw" id="memberPw">
			</div>
			<div class="joinFrm-input">
				<span>이름</span>
				<input type="text" name="memberName" id="memberName">
			</div>
			<div class="joinFrm-input">
				<span>전화번호</span>
				<input type="text" name="memberPhone" id="memberPhone" placeholder="-포함 입력">
			</div>
			<div class="joinFrm-input">
				<span>주소</span>
				<input type="text" name="memberAddr" id="memberAddr">
				<button type="button">주소찾기</button>
			</div>
			<div class="joinFrm-input">
				<span>이메일</span>
				<input type="text" name="memberEmail" id="memberEmail">
			</div>
			<div class="joinFrm-input">
				<span>생년월일</span>
				<select name="Year">
					<option value=""></option>
				</select>
			</div>
			<div class="joinFrm-input">
				<span>성별</span>
				<input type="radio" name="memberGender" id="m" value="m">
				<label for="m">남자</label>
				<input type="radio" name="memberGender" id="f" value="f">
				<label for="f">여자</label>
			</div>
		</div>
		</form>
	</div>
</body>
</html>