<!DOCTYPE html>
<html xmlns:th="http://www.thyeleap.org">
<head>
<meta charset="UTF-8">
<title>DateBase join Form</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="joinFrm-all-wrap">
		<div class="joinFrm-header">
			<h1>회원가입</h1>
		</div>
		
		<form action="/member/join" method="post" enctype="multipart/form-data">
		<div class="joinFrm-content">
			<div class="joinFrm-input">
				<div class="join-input">
					<span>아이디</span>
					<input type="text" name="memberId" id="memberId">
				</div>
				<p class="input-msg"></p>
			</div>
			<div class="joinFrm-input">
				<span>비밀번호</span>
				<input type="password" name="memberPw" id="memberPw">
			</div>
			<div class="joinFrm-input">
				<div class="join-input">
					<span>비밀번호 재입력</span>
					<input type="password" name="memberPwRe" id="memberPwRe">
				</div>
				<p class="pw-input-msg"></p>
			</div>
			<div class="joinFrm-input">
				<span>이름</span>
				<input type="text" name="memberName" id="memberName">
			</div>
			<div class="joinFrm-input">
				<span>전화번호</span>
				<input type="text" name="memberPhone" id="memberPhone" placeholder="-포함 입력">
			</div>
			<div class="joinFrm-input">
				<span>주소</span>
				<input type="text" name="memberAddr" id="memberAddr" readonly>
				<button type="button" id="search-addr">주소찾기</button>
			</div>
			<div class="joinFrm-input">
				<span>이메일</span>
				<input type="text" name="memberEmail-f" id="memberEmail-f">
				<input class="box" id="domain-txt" type="text" name="domain-txt">
				<select class="box" id="domain-list" name="domain-list">
				  <option value="type">직접 입력</option>
				  <option value="@naver.com">@naver.com</option>
				  <option value="@google.com">@google.com</option>
				  <option value="@hanmail.net">@hanmail.net</option>
				  <option value="@nate.com">@nate.com</option>
				  <option value="@kakao.com">@kakao.com</option>
				</select>
			</div>
			<div class="mailCheck">
				<span>이메일 인증</span>
				<input type="text" name="" id="">
				<button type="button">코드받기</button>
			</div>
			<div class="joinFrm-input">
				<span>생년월일</span>
				<input type="date" name="birthDate" id="birthDate">
				<!-- 
				<select name="year" id="year">	1976 ~ 2005
				</select><span>년</span>
				<select name="month">
					<option th:each="month : ${#numbers.sequence(1,12)}" th:value="${month}" th:text="${month}">
				</select><span>월</span>
				<select name="date">
				<option th:each="date : ${#numbers.sequence(1,31)}" th:value="${date}" th:text="${date}">
				</select><span>일</span>
				 -->
			</div>
			<div class="joinFrm-input">
				<span>성별</span>
				<input type="radio" name="memberGender" id="m" value="m">
				<label for="m">남자</label>
				<input type="radio" name="memberGender" id="f" value="f">
				<label for="f">여자</label>
			</div>
			<div class="joinFrm-input">
				<span>직업</span>
				<select title="직업" name="memberJob">
					<option value="금융, 사무직">금융, 사무직</option>
					<option value="연구원, 엔지니어">연구원, 엔지니어</option>
					<option value="건축, 설계사">건축,설계사</option>
					<option value="간호, 의료 관련">간호, 의료관련</option>
					<option value="디자이너">디자이너</option>
					<option value="언론인">언론인</option>
					<option value="교사, 강사">교사, 강사</option>
					<option value="공무원, 공공기관 관련">공무원, 공공기관 관련</option>
					<option value="의사, 약사">의사, 약사</option>
					<option value="회계사 등 기타 전문직">회계사 등 기타 전문직</option>
					<option value="변호사, 법조인"> 변호사, 법조인</option>
					<option value="자영업, 사업자">자영업, 사업자</option>
					<option value="프리랜서">프리랜서</option>
					<option value="승무원, 항공관련">승무원, 항공관련</option>
					<option value="대학 교수">대학교수</option>
					<option value="서비스, 영업직">서비스, 영업직</option>
					<option value="학생, 대학원생">학생, 대학원생</option>
					<option value="기타">기타</option>
				</select>
			</div>
			<div class="joinFrm-input">
				<span>MBTI</span>
				<select title="MBTI" name="memberMBTI">
					<option value="ISTP">ISTP</option>
					<option value="ISFJ">ISFJ</option>
					<option value="INFJ">INFJ</option>
					<option value="INTJ">INTJ</option>
					<option value="ISTP">ISTP</option>
					<option value="ISFP">ISFP</option>
					<option value="INFP">INFP</option>
					<option value="INTP">INTP</option>
					<option value="ESTP">ESTP</option>
					<option value="ESFP">ESFP</option>
					<option value="ENFP">ENFP</option>
					<option value="ENTP">ENTP</option>
					<option value="ESTJ">ESTJ</option>
					<option value="ESFJ">ESFJ</option>
					<option value="ENFJ">ENFJ</option>
					<option value="ENTJ">ENTJ</option>
				</select>
			</div>
			<div class="joinFrm-input">
				<span>사진</span>
				<input type="file" name="memberImg" id="memberImg" accept="image/*">
			</div>
		</div>
		<div class="btn-submit">
			<button type="button" class="btn-submit no">취소</button>
			<button type="submit" class="btn-submit ok">회원가입</button>
		</div>
		</form>
	</div>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		const date = new Date();
		const year = `${date.getFullYear()}`;
		const fYear = `${date.getFullYear()-20}`;
		const pYear = `${date.getFullYear()-59}`;
		
		//console.log(year);
		//console.log(pYear);
		//console.log(fYear);
		$("#birthDate").attr("min", pYear+"-01-01");
		$("#birthDate").attr("max", fYear+"-12-31");
		const dateFormat = $("#birthDate").val();
		console.log(typeof dateFormat);
		/*for(let i = 0 ; i < 39 ; i++){
			const option = $("<option>");
			pYear++
			option.attr("value",pYear);
			option.text(pYear)
			$("#year").append(option);
			;
		}*/
	</script>
	
	<script>
		$("#search-addr").on("click", function(){
			new daum.Postcode({
		        oncomplete: function(data) {
		        	
		            const roadAddress = data.roadAddress;
		            const zonecode = data.zonecode;
		            //console.log($("#memberAddr").val(data.roadAddress));
		            //console.log(roadAddress);
		            //console.log(zonecode);
		           $("#memberAddr").attr("value", roadAddress);
		        }
		    }).open();
		});
		
		$("#domain-list").on("change", function(){
			const list =  $("#domain-list").val();
			console.log(list);
			if(list !== "type"){
				$("#domain-txt").attr("value", list);
				$("#domain-txt").attr("readonly", true);
			}else{
				$("#domain-txt").attr("value", "@");
				$("#domain-txt").attr("readonly", false);
			}
		});
		
		$("#memberId").on("change", function(){
			
			const memberId = $("#memberId").val();
			$.ajax({
				url : "/member/idCheck",
				type : "get",
				data : {memberId : memberId},
				success : function(result){
					console.log(result);
					if(result === 0){
						$(".input-msg").text("사용가능한 아이디입니다.");
						$(".input-msg").css("color", "#25bd53");
						
					} else if(result === 1){
						$(".input-msg").text("이미 사용중인 아이디입니다.");
						$(".input-msg").css("color", "var(--warning)");
					}
				}
			});
		});
		
		$("#memberPwRe").on("keyup", function(){
			const inputPw = $("#memberPw").val();
			const inputPwRe = $("#memberPwRe").val();
			if(inputPw === inputPwRe){
				$(".pw-input-msg").text("비밀번호가 같습니다.");
				$(".pw-input-msg").css("color", "#25bd53");
			}else{
				$(".pw-input-msg").text("비밀번호를 확인해주세요.");
				$(".pw-input-msg").css("color", "var(--warning)");
			}
		});
	</script>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<th:block th:include="common/footer"></th:block>
</body>
</html>