<!DOCTYPE html>
<html xmlns:th="http://www.thyeleap.org">
<head>
<meta charset="UTF-8">
<title>Manager Page</title>
<link rel="stylesheet" href="../css/masterPage.css">
</head>
<body>
<th:block th:include="common/header"></th:block>
    <div class="masterPage-all-wrap">
        <div class="masterPage-wrap">
            <div class="masterPage-header">
                <h1>마이 페이지</h1>
            </div>
            <div class="masterPage-content">
                <div class="master-profile">
                    <h2>내 정보</h2>
                    <div class="master-profile-content">
                        <div class="master-profile-content-header">
                            <span id="profileName" th:text="${session.member.memberName}"></span>
                            <button type="button" id="master-update">정보수정</button>
                        </div>
                        <div class="master-profile-content-in1">
                            <ul>
                                <li id="profileId" th:text="'아이디 : '+${session.member.memberId}"></li>
                                <li id="profileEmail" th:text="'email : '+${session.member.memberEmail}"></li>
                            </ul>
                        </div>
                        <div class="master-profile-content-in2">
                            <ul>
                                <li id="profilePw" th:text="'비밀번호 : '+${session.member.memberPw}"></li>
                                <li id="profilePhone" th:text="'전화번호 : '+${session.member.memberPhone}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="member-seach">
                    <h2>회원 검색</h2>
                    <div class="member-seach-input">
                       	<input type="text" id="memberId" name="memberId" placeholder="아이디를 입력하세요..">
                      	<button type="button" id="search-member-btn">검색</button>
                    </div>
                    <div class="member-seach-output">
                        <div class="search-result">
                            <span id="memberNameRe"></span>
                            <span id="memberIdRe"></span>
                            <span id="memberPhoneRe"></span>
                            <span id="memberEmailRe"></span>
                            <th:block th:if="${session.member.memberLevel == 1}">
                            	<button id="firedMember">삭제</button>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-zone">
            	<th:block th:if="${session.member.memberLevel==1}">
                	<button class="Management Management-btn">직원관리</button>
                </th:block>
                <button class="Management Management-qna">문의관리</button>
                <button class="Management Management-party">파티관리</button>
                <button class="Management Management-matching">매칭관리</button>
            </div>
        </div>
    </div>
    <script>
    	$(".Management-btn").on("click", function(){
    		location.href=("/member/creatManager");
    	});
    	
    	$("#master-update").on("click", function(){
    		location.href=("/member/updateManagerFrm");
    	});
    	
    	$(".Management-party").on("click", function(){
    		location.href="/party/admin";
    	});
    	$("#search-member-btn").on("click", function(){
    		const memberId = $("#memberId").val();
    		console.log(memberId);
    		$.ajax({
    			url : "/member/searchMember",
    			type : "get",
    			data : {memberId : memberId},
    			dataType : "json",
    			success : function(m){
    				if(m != ""){
    					$("#memberNameRe").text(m.memberName);
    					$("#memberIdRe").text(m.memberId);
    					$("#memberPhoneRe").text(m.memberPhone);
    					$("#memberEmailRe").text(m.memberEmail);
    				}
    			}
    		});
    	});
    	
    	$("#firedMember").on("click", function(){
    		const memberId = $("#memberId").val();
    		console.log(memberId);
    		$.ajax({
    			url : "/member/deleteMember",
    			type : "get",
    			data : {memberId : memberId},
    			success : function(data){
    				if(data == 1){
    					$("#memberNameRe").empty();
    					$("#memberIdRe").empty();
    					$("#memberPhoneRe").empty();
    					$("#memberEmailRe").empty();
    					$("#memberId").val("");
    				}
    			}
    		});
    	});
    	

    </script>
<th:block th:include="common/footer"></th:block>
</body>
</html>