<!DOCTYPE html>
<html xmlns:th="http://www.thyeleap.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/userpage.css">
</head>
<body>
<th:block th:include="common/header"></th:block>
<div class="userpage-all-wrap">
        <div class="userpage-content-all-wrap">
            <div class="userpage-header-wrap">
                <h1>마이 페이지</h1>
            </div>
            <div class="userpage-profile-wrap">
                <div class="user-img">
                    <img src="../image/beer1.png" alt="이미지준비중" width="300px">
                </div>
                <div class="user-grade-zone">
                	<th:block th:if="${session.member.memberGrade != null}">
                    	<h2 th:text="'내 등급 : '+${session.member.memberGrade}"></h2>
                    </th:block>
                    <th:block th:if="${session.member.memberGrade == null}">
                    	<h2>내 등급 : 없음</h2>
                    </th:block>
                    <h3 th:text="'남은 만남권 : '+${session.member.myMatchingCount}+'회'"></h3>
                    <h3 th:text="'남은 패스권 : '+${session.member.myPassCount}+'회'"></h3>
                    <div class="user-button">
                        <button type="button" id="buy-membership"><a href="/match/matchWrite">매칭신청</a></button>
                        <button type="button" id="buy-list">결제내역</button>
                    </div>
                </div>
                <div class="user-profile-zone">
                    <h2 id="mylist">내정보</h2>
                    <div class="common-profile">
                        <div class="profile-header">
                            <span id="profileName" th:text="${session.member.memberName}"></span>
                            <button type="button" id="profile-update">정보수정</button>
                            <button type="button" id="memberExit">회원탈퇴</button>
                        </div>
                        <div class="profile-content1">
                            <ul>
                                <li th:text="'아이디 : '+${session.member.memberId}"></li>
                                <li th:text="'email : '+${session.member.memberEmail}"></li>
                                <li th:text="'생년월일 : '+${session.member.birthDate}"></li>
                                <th:block th:if="${session.member.memberGender == 'm'}">
                                	<li>성별 : 남성</li>
                                </th:block>
                                <th:block th:if="${session.member.memberGender == 'f'}">
                                	<li>성별 : 여성</li>
                                </th:block>
                            </ul>
                        </div>
                        <div class="profile-content2">
                            <ul>
                                <li th:text="'전화번호 : '+${session.member.memberPhone}"></li>
                                <li th:text="'주소 : '+${session.member.memberAddr}"></li>
                                <li th:text="'직업 : '+${session.member.memberJob}"></li>
                                <li th:text="'MBTI : '+${session.member.memberMBTI}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="profile-plus">
                        <div class="profile-plus-header">
                            <span><b>추가 정보</b></span>
                            <th:block th:if="${memberMoreInfo == null}">
                            	<button id="plus-input">정보추가</button>
                            </th:block>
                            <th:block th:if="${memberMoreInfo != null}">
                            	<button id="plus-update">정보수정</button>
                            </th:block>
                        </div>
                        <th:block th:if="${memberMoreInfo != null}">
                        <div class="profile-plus-content1">
                            <ul>
                            	<th:block th:if="${memberMoreInfo.memberEdu != null}">
                                	<li th:text="'학력 : '+${memberMoreInfo.memberEdu}"></li>
                                </th:block>
                                <th:block th:if="${memberMoreInfo.memberEdu == null}">
                                	<li>학력 : </li>
                                </th:block>
                                <th:block th:if="${memberMoreInfo.memberWorkType != null}">
                                	<li th:text="'근무형태 : '+${memberMoreInfo.memberWorkType}"></li>
                                </th:block>
                                <th:block th:if="${memberMoreInfo.memberWorkType == null}">
                                	<li>근무형태 : </li>
                                </th:block>
                            </ul>
                        </div>
                        <div class="profile-plus-content2">
                            <ul>
                            	<th:block th:if="${memberMoreInfo.memberHobby != null}">
                                	<li th:text="'취미 : '+${memberMoreInfo.memberHobby}"></li>
                                </th:block>
                                <th:block th:if="${memberMoreInfo.memberHobby == null}">
                                	<li>취미 : </li>
                                </th:block>
                                <th:block th:if="${memberMoreInfo.memberSalary != null}">
                                	<li th:text="'연봉 : '+${memberMoreInfo.memberSalary}+'만원'"></li>
                                </th:block>
                                <th:block th:if="${memberMoreInfo.memberSalary == null}">
                                	<li>연봉 : </li>
                                </th:block>
                            </ul>
                        </div>
                        </th:block>
                        <th:block th:if="${memberMoreInfo == null}">
                        <div class="profile-plus-content1">
                            <ul>
                            	<li>학력 : </li>
                                <li>근무형태 : </li>
                            </ul>
                        </div>
                        <div class="profile-plus-content2">
                            <ul>
                            	<li>취미 : </li>
                                <li>연봉 : </li>
                            </ul>
                        </div>
                        </th:block>
                    </div>
                    <div class="plus-content">
                        <div class="my-qna-list">
                            <div class="my-qna-list-header">
                                <span><b>내 문의 내역</b></span>
                            </div>
                            <div class="my-qna-list-content">
                                <div class="qna-line-heder">
                                    <span>제목</span>
                                    <span>날짜</span>
                                </div>
                                <div class="qna-line-content">
                                    <span>제목</span>
                                    <span>날짜</span>
                                </div>
                            </div>
                        </div>
                        <div class="my-mitting-list">
                            <div class="my-qna-mitting-header">
                                <span><b>소개팅 이력</b></span>
                            </div>
                            <div class="my-qna-mitting-content">
                                
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script>
		$("#memberExit").on("click", function(){
			location.href=("/member/memberExit");
		});
	</script>
    <th:block th:include="common/footer"></th:block>
</body>
</html>