<!DOCTYPE html>
<html xmlns:th="http://www.thyeleap.org">
<head>
<meta charset="UTF-8">
<title>Update Plus Page</title>
<link rel="stylesheet" href="../css/updatePlusFrm.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="updatePlus-all-wrap">
        <div class="updatePlus-wrap">
            <div class="updatePlus-header">
                <h1>추가정보 관리</h1>
            </div>
            <form action="/member/updatePlus" method="post">
                <div class="updatePlus-content">
                	<input type="hidden" name="memberNo" th:value="${session.member.memberNo}">
                    <div class="updatePlus-input-content">
                        <span>학력 : </span>
                        <select title="학력선택" name="memberEdu" id="memberEdu">
                            <option value="전문학사">전문학사</option>
                            <option value="학사">학사</option>
                            <option value="석사">석사</option>
                            <option value="박사">박사</option>
                        </select>
                    </div>
                    <div class="updatePlus-input-content">
                        <span>취미 : </span>
                        <select title="취미" name="memberHobby" id="memberHobby">
                            <option value="요리">요리</option>
                            <option value="음악">음악</option>
                            <option value="게임">게임</option>
                            <option value="영화">영화</option>
                            <option value="캠핑">캠핑</option>
                            <option value="축구">축구</option>
                            <option value="독서">독서</option>
                            <option value="골프">골프</option>
                            <option value="수영">수영</option>
                            <option value="헬스,필라테스">헬스,필라테스</option>
                            <option value="반려동물">반려동물</option>
                            <option value="보드게임">보드게임</option>
                            <option value="레저스포츠">레저스포츠</option>
                            <option value="러닝">러닝</option>
                        </select>
                    </div>
                    <div class="updatePlus-input-content">
                        <span>근무형태 : </span>
                        <select title="근무형태" name="memberWorkType" id="memberWorkType">
                            <option value="정규직">정규직</option>
                            <option value="비정규직">비정규직</option>
                            <option value="임원">임원</option>
                        </select>
                    </div>
                    <div class="updatePlus-input-content">
                        <span>연봉 : </span>
                        <input type="text" name="memberSalary" id="memberSalary">
                        <span id="won">만원</span>
                    </div>
                </div>
                <div class="updatePlus-button">
                    <button type="button" id="updatePlus-cancel">취소</button>
                    <button type="submit" id="updatePlus-success">완료</button>
                </div>
            </form>
        </div>
    </div>
    <script>
    	$("#updatePlus-cancel").on("click", function(){
    		location.href=("/member/mypage");
    	});
    </script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>