@charset "UTF-8";
/*------------------------main----------------------------------*/
.masterPage-all-wrap{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px
}
.masterPage-wrap{
    width: 750px;
    margin: 0 auto;
}
/*-----------------------masterPage-header-----------------------------*/
.masterPage-header{
    margin-top: 70px;
    margin-bottom: 50px;
}
.masterPage-header>h1{
    text-align: center;
    color: #E5BA73;
}
/*-----------------------masterPage-content-----------------------------*/
.master-profile-content{
    border: 2px solid #C58940;
    border-radius: 10px;
    overflow: hidden;
    height: 135px;
}
/*------master-profile-content-header-----*/
.master-profile-content>.master-profile-content-header{
    box-sizing: border-box;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    border-bottom: 1px solid #2B2B2B;
    text-align: right;
    line-height: 50px;
    overflow: hidden;
}
.master-profile-content>.master-profile-content-header>span{
    font-size: 20px;
    float: left;
}
.master-profile-content>.master-profile-content-header>button{
    width: 65px;
    height: 30px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px;
    color: #FFF;
    margin-right: 10px;
}
.master-profile-content>.master-profile-content-header>button:hover{
    color: #2B2B2B;
}
/*------master-profile-content-in1-----*/
.master-profile-content-in1{
    box-sizing: border-box;
    width: 50%;
    border-right: 1px solid #2B2B2B;
    float: left;
}
.master-profile-content-in1>ul{
    list-style-type: none;
    padding: 10px;
    padding-left: 40px
}
.master-profile-content-in1>ul>li{
    margin-bottom: 5px;
}
/*------master-profile-content-in2-----*/
.master-profile-content-in2{
    box-sizing: border-box;
    width: 50%;
    float: left;
}
.master-profile-content-in2>ul{
    list-style-type: none;
    padding: 10px 20px;
}
.master-profile-content-in2>ul>li{
    margin-bottom: 5px;
}
/*--------------------------member-seach--------------------------*/
/*-------member-seach-input--------*/
.member-seach-input{
    width: 710px;
    margin: 0 auto;
}
.member-seach{
    margin-top: 20px;
}
#memberId{
    box-sizing: border-box;
    border: 2px solid #C58940;
    width: 85%;
    height: 35px;
    padding-left: 15px;
    outline: none;
    border-radius: 20px;
}
#search-member-btn{
    box-sizing: border-box;
    border: none;
    width: 70px;
    height: 35px;
    margin: 5px;
    background-color: #E5BA73;
    color: #FFF;
    border-radius: 10px;
}
#search-member-btn:hover{
    background-color: #EAC88F;
    cursor: pointer;
}
/*-------member-seach-output--------*/
.member-seach-output{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #C58940;
    height: 60px;
    margin-top: 10px;
    border-radius: 10px;
}
/*-------search-result--------*/
.search-result{
    width: 98%;
    margin: 0 auto;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
}
.search-result>span{
    display: inline-block;
    font-size: 16px;
    text-align: center;
}
.search-result>span:nth-child(1){
    width: 60px;
}
.search-result>span:nth-child(2){
    width: 120px;
}
.search-result>span:nth-child(3){
    width: 180px;
}
.search-result>span:nth-child(4){
    width: 200px;
}
#firedMember{
    width: 50px;
    height: 30px;
    border: none;
    float: right;
    margin-top: 12px;
    margin-right: 5px;
    background-color: #D9D9D9;
    color: #FFF;
    border-radius: 3px;
}
#firedMember:hover{
    cursor: pointer;
    color: #2B2B2B;
}
/*----------btn-zone----------*/
.btn-zone{
    width: 100%;
    text-align: center;
    margin-top: 45px;
}
.Management{
    width: 140px;
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #E5BA73;
    color: #FFF;
    margin-right: 7px;
}
.Management:hover{
    background-color: #EAC88F;
}