<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.match.model.dao.MatchDao">
	<select id="calcPrice" resultType="grade">
		select * from grade 
			where match_count = #{matchCount} and member_gender = #{memberGender} and member_grade = #{memberGrade} and member_age like SUBSTR(#{memberAge}, 1,1)||'%' 
	</select>
	
	<insert id="insertPayData">
		insert into member_pay_table values(pay_seq.nextval,#{memberId},#{payPrice},#{payName},#{payState}, sysdate)
	</insert>
	<insert id="matchEnroll">
		insert all
			when #{memberGrade} = 'silver' then
				into match_mypage values(match_seq.nextval,#{memberId},#{memberGrade},sysdate,default,#{matchField},#{matchAge},#{matchJob},#{matchMbti},#{matchHobby},null,null,null)
			when #{memberGrade} = 'gold' then
				into match_mypage values(match_seq.nextval,#{memberId},#{memberGrade},sysdate,default,#{matchField},#{matchAge},#{matchJob},#{matchMbti},#{matchHobby},#{matchEdu},null,null)
			when #{memberGrade} = 'platinum' then
				into match_mypage values(match_seq.nextval,#{memberId},#{memberGrade},sysdate,default,#{matchField},#{matchAge},#{matchJob},#{matchMbti},#{matchHobby},#{matchEdu},#{matchSalary},#{matchWorkType})
		select * from dual		
	</insert>
	
	<select id="selectMatchList" resultType="match">
		select match_no, 
				member_id, 
				m.member_grade, 
				match_date, 
				match_pass, 
				match_field, 
				match_age, 
				match_job, 
				match_mbti,
				match_hobby,
				match_edu,
				match_salary,
				match_work_type,
				m.member_gender
			from match_mypage p join member m using(member_id)
	</select>
</mapper>
