<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.model.member.dao.MemberDao">
	<insert id="insertMember">
		insert into member
		values(member_seq.nextval,#{memberId},#{memberPw},#{memberName},#{memberPhone},#{memberAddr},#{memberEmail},#{birthDate},#{memberGender},#{memberJob},#{memberMBTI},3,#{memberImgPath},0,0,null)
	</insert>
	
	<select id="selectOneMember" resultType="member">
		select * from member where member_id = #{memberId}
		<if test="memberPw != null">
			and member_pw = #{memberPw}
		</if>
	</select>

	
	<update id="updateMemberPayment">
		update member set member_grade = #{memberGrade}, my_pass_count = #{myPassCount} , my_matching_count = #{myMatchingCount} where member_id = #{memberId}
	</update>

	<insert id="joinManager">
		insert into member
		values(member_seq.nextval,#{memberId},#{memberPw},#{memberName},#{memberPhone},'none',#{memberEmail},'0000-00-00','m','none','none',2,'none',0,0,null)
	</insert>
	<delete id="deleteMember">
		delete from member where member_id = #{memberId}
	</delete>
 
	

	<select id="searchMemberMoreINfo" resultType="more">
		select * from member_More_info where member_no = #{memberNo}
	</select>
	
	<update id="useMatchCount">
		update member set my_matching_count = #{myMatchingCount} where member_id = #{memberId}
	</update>

</mapper>
